<div class="row">
    <div class="col-xs-12">
        <h3>Search user</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-lg-3">
        <form ng-submit="model.search()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="model.query"/>
                <span class="input-group-btn">
                    <button type="submit"
                            ng-disabled="!model.query.length"
                            class="btn btn-info">
                        Search
                    </button>
                </span>
            </div>
            </form>
    </div>
</div>
<div class="row search-results-row">
    <div class="col-xs-12">
        <div ng-if="model.users.length">
            <h4>Search results</h4>
            <div ng-repeat="user in model.users"
                 class="col-xs-12 col-sm-6 col-md-4 col-lg-4 animate-repeat">
                <div user-profile="user"></div>
            </div>
        </div>
        <div ng-if="model.users.length == 0 && model.recommendedUsers.length != 0">
            <h4>Recommendations</h4>
            <div ng-repeat="user in model.recommendedUsers"
                 class="col-xs-12 col-sm-6 col-md-4 col-lg-4 animate-repeat">
                <div user-profile="user"></div>
            </div>
        </div>
    </div>
</div> 