@model IEnumerable<Business.Models.UserModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @foreach (var user in Model)
        {
            <p>@user.Name</p>
        }

    </div>
</div>