@{
    ViewBag.Title = "Home";
}
<div ng-app="twitterbackup" ng-cloak>
    <div ng-view></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
}