<div class="row">
    <div class="col-xs-12">
        <h1>Friends</h1>
    </div>
</div>
<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Favorites <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Friends</a></li>
    </ul>
</div>
<div class="row">
    <div ng-repeat="friend in friends"
         class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="twitter-card">
            <div class="background-layer">
                <div class="twitter-banner"
                     ng-style="{'background-color': '#{{friend.ProfileBackgroundColor}}', 'background-image': 'url({{friend.ProfileBannerUrl}})' }"></div>
            </div>
            <div class="foreground-layer">
                <div class="profile-image">
                    <div ng-if="friend.ProfileImageUrl != null">
                        <img src="{{friend.ProfileImageUrl}}" alt="" />
                    </div>
                </div>
                <div class="profile-name">
                    <div>
                        <a href="https://twitter.com/" target="_blank">
                            {{friend.Name}}
                        </a>
                        <span ng-if="friend.Verified">
                            <img src="./Content/Images/Icons/verified.png" alt="verified" />
                        </span>
                        
                        <span ng-if="friend.Notifications">
                            <img src="./Content/Images/Icons/notifications-on.png" alt="verified" />
                        </span>
                        <span ng-if="!friend.Notifications">
                            <img src="./Content/Images/Icons/notifications-off.png" alt="verified" />
                        </span>
                    </div>
                    <span>
                        <a href="https://twitter.com/" target="_blank">@<span>{{friend.ScreenName}}</span></a>
                    </span>
                </div>
                <div class="stats">
                    <!--<a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                        <span class="twPc-StatValue">9.840</span>
                    </a>
                    <a href="https://twitter.com/mertskaplan/following" title="885 Following">
                        <span class="twPc-StatLabel twPc-block">Following</span>
                        <span class="twPc-StatValue">885</span>
                    </a>
                    <a href="https://twitter.com/mertskaplan/followers" title="1.810 Followers">
                        <span class="twPc-StatLabel twPc-block">Followers</span>
                        <span class="twPc-StatValue">1.810</span>
                    </a>-->
                </div>
                <!--{{friend.Id}}-->
            </div>
        </div>
    </div>
</div>