<div class="row">
    <div class="col-xs-12">
        <h1>Friends</h1>
    </div>
</div>
<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Favorites <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Friends</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-condensed">
            <tr ng-repeat="friend in friends">
                <td ng-if="friend.ProfileImageUrl != null"
                     ng-style="friend.ProfileBackgroundColor != '000000' && {'background-color': '#{{friend.ProfileBackgroundColor}}' }">
                    <img src="{{friend.ProfileImageUrl}}" alt="" class="img-thumbnail" />
                </td>
                <td>{{friend.Id}}</td>
                <td>{{friend.Name}}</td>
                <!--<td>{{friend.Description}}</td>-->
                <td>
                    <i class="glyphicon " ng-class="{ 'glyphicon-star': friend.Notifications, 'glyphicon-star-empty': !friend.Notifications }"></i>
                </td>
            </tr>
        </table>
    </div>
</div>