<div class="twitter-card">
    <div class="background-layer">
        <div class="twitter-banner"
             ng-style="{'background-color': '#' + user.ProfileBackgroundColor, 'background-image': 'url(' + user.ProfileBannerUrl + ')' }"></div>
    </div>
    <div class="foreground-layer">
        <div class="profile-image">
            <div ng-if="user.ProfileImageUrl != null">
                <img ng-src="{{user.ProfileImageUrl}}" alt="" />
            </div>
        </div>
        <div class="profile-name">
            <div>
                <a ng-href="#/status/timeline/{{user.Id}}">
                    {{user.Name}}
                </a>
                <span ng-if="user.Verified">
                    <img src="./Content/Images/Icons/verified.png"
                         alt="Verified account"
                         title="Verified account"
                         data-toggle="tooltip"
                         data-placement="right"
                         tooltip />
                </span>

                <div class="profile-buttons">
                    <span class="notifications-button">
                        <img src="./Content/Images/Icons/notifications-on.png"
                             ng-show="user.IsFavorite"
                             ng-click="removeFromFavorites(user)"
                             title="Favorite user"
                             data-toggle="tooltip"
                             data-placement="bottom"
                             tooltip />
                        <img src="./Content/Images/Icons/notifications-off.png"
                             ng-show="!user.IsFavorite"
                             ng-click="addToFavorites(user)"
                             title="Add to favorites"
                             data-toggle="tooltip"
                             data-placement="bottom"
                             tooltip />
                    </span>
                </div>
            </div>
            <span>
                <a ng-href="#/status/timeline/{{user.Id}}" target="_blank">@<span>{{user.ScreenName}}</span></a>
            </span>
        </div>
        <div class="stats">
            <div class="col-xs-4">
                <p>Tweets</p>
                <p>{{user.StatusesCount}}</p>
            </div>
            <div class="col-xs-4">
                <p>Following</p>
                <p>{{user.FriendsCount}}</p>
            </div>
            <div class="col-xs-4">
                <p>Followers</p>
                <p>{{user.FollowersCount}}</p>
            </div>
        </div>
    </div>
</div>